.tab-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
}
.tab-list {
  flex: 2;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.tab-map {
  height: 500px;
  flex: 3;
}
.tab-info {
  height: 400px;
}
.tab-sub {
  width: 350px;
}
.alarm-map-container {
  height: 500px;
}
.info-row {
  display: flex;
  margin: 2px 0;
}
.info-label {
  color: black;
  font-weight: 600;
  font-size: 14px;
}
.camera-scroll {
  overflow: auto;
  overflow-x: hidden;
  height: 200px;
  width: 250px;
}
.camera-scroll:-webkit-scrollbar {
  width: 10px;
}
.camera-scroll::-webkit-scrollbar {
  width: 10px;
  // height: 10px; // 高度写不写，都不影响，因为会根据内容的长度自动计算
}

.camera-scroll::-webkit-scrollbar-thumb {
  background: #ccc; // 滑块颜色
  border-radius: 5px; // 滑块圆角
}

.camera-scroll::-webkit-scrollbar-thumb:hover {
  background: rgb(81, 80, 80);
}
.trumpet {
  img {
    height: 50px;
  }
}
.Zmage {
  img {
    height: 100%;
    width: 100%;
  }
}
