.header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
.select {
  display: flex;
  margin-right: 40px;
  .select-span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
}
