.data_body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("@/assets/bg.jpg");
    background-size: 100% 100%;
    position: absolute;
}

.index_tabs {
    width: 100%;
    height: 88%;
    position: absolute;
}

.left_cage {
    width: 44%;
    height: 100%;
    margin-left: 0.3%;
    float: left;
}

.center_cage {
    width: 54.8%;
    height: 100%;
    margin-left: 0.3%;
    float: left;
}

.right_cage {
    width: 22%;
    height: 100%;
    margin-right: 0.3%;
    float: right;
}

.dataAllBorder01 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px #0174f5 solid;
    padding: 1px;
    box-sizing: border-box;
}

.dataAllBorder02 {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #016ae0;
    border-radius: 10px;
}

.video_cage {
    padding: 4px;
    width: 100%;
    object-fit: fill;
}

.video {
    height: 100%;
    width: 100%;
}

.video_around {
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    float: left;
    object-fit: fill;
    border: #000 1px solid;
}

.video_around:hover {
    border: #8bff62 2px solid;
}

.video_around_chose {
    border: #8bff62 2px solid;
}

.map_title_box {
    width: 100%;
    background-color: rgba(17, 25, 69, 54%);
    border-radius: 11px 11px 0 0;
    position: relative;
}

.map_title_innerbox {
    position: absolute;
    width: 100%;
}

.map_title {
    width: 300px;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 28px;
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    border-radius: 15px;
    line-height: 28px;
}

/* 右侧 */
.analysis {
    width: 100%;
    padding-top: 2%;
    text-align: left;
    text-indent: 0.7em;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.data_cage {
    display: block;
    background-image: url("@/assets/data_bg.png");
    height: 100%;
    width: 16%;
    float: left;
    margin-left: 1px;
    color: #fff;
    text-align: center;
    font-size: 48px;
    padding-top: 4px;
    /* font-family: data_Number; */
    background-repeat: no-repeat;
    background-size: 100%;
}

@font-face {
    font-family: "data_Number";
    src: url("@/assets/data_number.ttf");
}

.depart_number_box {
    padding: 0px 4%;
}

.depart_number_cage {
    width: 45%;
    height: 24px;
    padding-left: 4%;
    margin-top: 1%;
    margin-bottom: 8px;
}


.depart_name {
    font-size: 12px;
    color: white;
    cursor: pointer;
}

.depart_number {
    font-family: "data_Number";
    font-size: 24px;
    color: #10a4db;
    position: relative;
    bottom: -4px;
}

.danger_contain_box {
    width: 100%;
    height: 38%;
    padding-left: 10px;
}

.danger_depart_box {
    height: 40%;
}

.danger_depart {
    float: left;
    width: 50%;
    height: 50%;
    margin-bottom: 0;
    padding-left: 4%;
}

.cage_cl {
    background-color: rgba(2, 8, 23, 54%);
}