.main {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
}

.video {
    width: 300px;
    height: 200px;
}

.right-form {
    width: 100%;
    // display: flex;
    // justify-content: center;
    position: relative;
    top: -29px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.form-container {
    padding: 0 150px;
}